.playpause {
    width: 100%;
    height: 100%;
    background: rgba(100,100,100,0.5);
}

.playpause path {
    fill: white;
}

.playpause circle {
    stroke: white;
}

.playpause polygon {
    fill: white;
}
